<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="log4net"
				 type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<log4net>
		<!-- アペンダーを定義する -->
		<!-- コンソールに書いたりファイルに書いたりという設定を記述するダグ -->
		<appender name="ConsoleLog" type="log4net.Appender.ConsoleAppender">

			<!-- ログのフォーマットを指定 -->
			<layout type="log4net.Layout.PatternLayout">
				
				<!--
					ログの出力やフォーマットを指定する
					%d : ログの日時の出力
					%L : 行番号の出
					%m : メッセージを出
					%n : 改行文字の出力
					%p : ログレベルの出力
					%t : ログを出力したスレッドの出力
					%M : ログ出力したメソッド名
					%logger : ログクラスのGetLoggerメソッドの引数に指定した値
				-->
				<conversionPattern value="%logger, %M[%L], %d[%t], %p - %m%n"/>
			</layout>
		</appender>
	
		<root>

			<!--INFO以上を出力する-->
			<level value="INFO" />

			<!--WARN以上を出力する-->
			<!--<level value="WARN">-->

			<!--明示的に全て出力する-->
			<!--<level value="ALL">-->
			
			<!-- 定義したアペンダを指定して使用できるようにする -->
			<appender-ref ref="ConsoleLog" />
		</root>

	</log4net>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>