<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
		<section name="log4net"
				 type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<log4net>
		<!-- アペンダーを定義する -->
		<!-- コンソールに書いたりファイルに書いたりという設定を記述するダグ -->
		<appender name="ConsoleLog" type="log4net.Appender.ConsoleAppender">

			<!-- ログのフォーマットを指定 -->
			<layout type="log4net.Layout.PatternLayout">

				<!--
					ログの出力やフォーマットを指定する
					%d : ログの日時の出力
					%L : 行番号の出
					%m : メッセージを出
					%n : 改行文字の出力
					%p : ログレベルの出力
					%t : ログを出力したスレッドの出力
					%M : ログ出力したメソッド名
					%logger : ログクラスのGetLoggerメソッドの引数に指定した値
				-->
				<conversionPattern value="%logger, %M[%L], %d[%t], %p - %m%n"/>
			</layout>
		</appender>

		<!--ファイルにログを出力するので、アペンダーを新規で作成-->
		<appender name="FileLog" type="log4net.Appender.RollingFileAppender">

			<!--実行環境配下にログを出力するように指定-->
			<param name="File" value=".\logs\test.log" />
			<!--追加モードを指定-->
			<!--falseにすると毎回新規でファイルが作られる-->
			<param name="AppendToFile" value="true"/>

			<!--世代管理する単位を指定する。日付単位でも指定できる-->
			<param name="rollingStyle" value="Size"/>
			<!--何世代ログファイルを作成するか。今回は3世代 + 現在のログファイル = 合計4つのファイルで管理する-->
			<param name="maxSizeRollBackups" value="3"/>
			<!--出力ログのサイズを指定（確認用で小さめのサイズに指定。本来は10MB～50MBくらいをを目安に）-->
			<param name="maximumFileSize" value="10KB"/>
			<!--固定ファイル名にしない設定-->
			<param name="staticLogFileName" value="false"/>

			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger, %M[%L], %d[%t], %p - %m%n"/>
			</layout>
		</appender>

		<!--Errorだけのログファイルを作成する方法-->
		<appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
			<param name="File" value=".\logs\Errors\Error.log" />
			<param name="AppendToFile" value="true"/>
			<param name="rollingStyle" value="Size"/>
			<param name="maxSizeRollBackups" value="3"/>
			<param name="maximumFileSize" value="10KB"/>
			<param name="staticLogFileName" value="false"/>

			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger, %M[%L], %d[%t], %p - %m%n"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR"/>
				<levelMax value="ERROR"/>
			</filter >
		</appender>

		<root>

			<!--INFO以上を出力する-->
			<level value="INFO" />

			<!--WARN以上を出力する-->
			<!--<level value="WARN">-->

			<!--明示的に全て出力する-->
			<!--<level value="ALL">-->

			<!-- 定義したアペンダを指定して使用できるようにする -->
			<appender-ref ref="ConsoleLog" />
			<appender-ref ref="FileLog" />
			<appender-ref ref="ErrorLog" />
		</root>

	</log4net>
</configuration>